ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.card__title_underline-offset,
.lots__look-more-link,
.header__link,
.footer__menu-link,
.address__phone-link,
.address__email-link {
  text-decoration: underline 1px solid;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.35ex;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  padding: 0 6px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: normal normal 18px/1.35 "Raleway", sans-serif;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.main {
  font-size: 20px;
  line-height: normal;
}

.cover {
  margin-bottom: 180px;
  padding: 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #fff;
}
.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  font: normal bold 100px/1.15 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-right: -0.3em;
  padding: 105px 0 95px 0;
  z-index: 1;
}

.aligned-text {
  display: block;
  padding: 10px 0;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.description {
  font-size: 22px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 28px;
  z-index: 1;
}

.description__text {
  word-spacing: 0.84em;
}

.cover__button {
  border: 1px solid #fff;
  color: #fff;
  text-transform: inherit;
  background: transparent;
  padding: 12px 31px 11px 31px;
}

.lots {
  margin: 120px 24px 120px 24px;
  font-size: 20px;
  line-height: 1.2;
}

.lots__heading {
  padding: 0 0 26px 40px;
  text-transform: uppercase;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
  padding-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  text-transform: uppercase;
  font-size: 22px;
  z-index: 1;
}

.card__text {
  z-index: 1;
}

.lots__look-more-link {
  padding-left: 40px;
}

.about {
  margin: 120px 24px 120px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  align-self: center;
  margin-top: 35px;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 136px 0 100px 0;
  text-transform: uppercase;
  font-size: 40px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
  white-space: pre-wrap;
}

.footer {
  margin-top: 180px;
  padding: 0 50px;
  min-height: 180px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer__address {
  max-width: 265px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
  display: block;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
